@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{ }
@*@model List<QSCustomer.Models.ViewModels.CustomerReports>*@
@using Microsoft.AspNetCore.Http
@using static QSCustomer.Extensions.ProjectExtensions
@{string projectCode = "", _Url = "/";
    //bool open = true, close = false, problematic;
    DateTime dateVal = DateTime.Now;
    DateTime startDate = DateTime.Now;
    DateTime finishDate = DateTime.Now;

    bool open = Convert.ToBoolean(Context.Request.Cookies["_kj6ght"]);
    bool close = Convert.ToBoolean(Context.Request.Cookies["_h4k9xp"]);
    bool problematic = false;
    var _aaaaaa = close; }



<link href="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.min.css" rel="stylesheet" />


<style>
    th {
        cursor: pointer;
    }


    body {
        padding-right: 0px !important;
    }
</style>
@*
    <div class="p-4 border rounded">
        <table id="tblData" class="table table-striped table-bordered sortable" style="width:100%">
            <thead class="thead-dark">
                <tr class="table-info" style="font-size:10.5px">
                    <!--
                    <th onclick="sortTable(1)">id</th>
                    <th onclick="sortTable(1)">idOprArea</th>
                    <th onclick="sortTable(1)">idMusteri</th>
                    <th onclick="sortTable(1)">idProjeDurumu</th>
                    <th onclick="sortTable(1)">projeCode</th>
                    <th onclick="sortTable(1)">baslangicTarihi</th>
                    <th onclick="sortTable(1)">bitisTarihi</th>
                    <th onclick="sortTable(1)">projeAcan</th>
                    <th onclick="sortTable(1)">projeAcan1</th>
                    <th onclick="sortTable(1)">projeOlusturmaTarihi</th>
                    <th onclick="sortTable(1)">onayTarih</th>
                    <th onclick="sortTable(1)">onayDurumu</th>
                    <th onclick="sortTable(1)">onaySonTarih</th>
                    <th onclick="sortTable(1)">onayToplamPiece</th>
                    <th onclick="sortTable(1)">onayToplamDk</th>
                    <th onclick="sortTable(1)">onayToplamCost</th>
                    <th onclick="sortTable(1)">onayLastNo</th>
                    <th onclick="sortTable(1)">fiyatIdKontrolTipi</th>
                    <th onclick="sortTable(1)">fiyatIdTipi</th>
                    <th onclick="sortTable(1)">fiyatSaatUcreti</th>
                    <th onclick="sortTable(1)">fiyatAnlasilanZaman</th>
                    <th onclick="sortTable(1)">fiyatIdParaBirimi</th>
                    <th onclick="sortTable(1)">fiyatYemek</th>
                    <th onclick="sortTable(1)">fiyatUlasim</th>
                    <th onclick="sortTable(1)">fiyatOfferSaatUcreti</th>
                    <th onclick="sortTable(1)">sikayetNo</th>
                    <th onclick="sortTable(1)">note</th>
                    <th onclick="sortTable(1)">materyel</th>
                    <th onclick="sortTable(1)">cls</th>
                    -->
                    <!--<th onclick="sortTable(1)">Ürün Özellikleri(EKLENMEDİ!)</th><!--Tabloda bu yok eklenebilir. Anlamı maddeler halinde ürün özelliklerinin açıklanması-->
                    <th>Control Date</th>
                    <th>Project Code</th>
                    <th>Responsible</th>
                    <th>Appr. State</th>
                    <th>Operetion Areas</th>
                    <th>Customers</th>
                    <th>Project/State</th>
                    <th>Compli. Nr</th>
                    <th>Checked</th>
                    <th>NOK</th>
                    <th>Rework</th>
                    <th>Opr.</th>
                    <th>Hourly Rate.</th>
                    <th>Agreed Time</th>
                    <th>Spent Min.</th>
                    <th>Actual Min.</th>
                    <th>%50 OverTime Min</th>
                    <th>%100 OverTime Min</th>
                    <th>Productivity</th>
                    <th>Spent Hours</th>
                    <th>%50 OverTime</th>
                    <th>%100 OverTime</th>
                    <th>Lab Cost.</th>
                    <th>Total Meal</th>
                    <th>Total Trans</th>
                    <th>Add Service</th>
                    <th>Grand Total</th>
                    <th>PPM</th>
                    <th>Proform</th>
                    <th>Currency</th>
                    <th>Reduced</th>
                    <th>Incares</th>
                    <th>Fix Cost</th>
                    <th>Control Type</th>
                    <th>Eski Actual OverTime Min</th>
                    <th>Eski OverTime(%50)</th>
                    <th>Eski OverTime(%100)</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var Reports in Model)
                {
                    <tr style="font-size:12px">
                        <td>@Reports.qprojeDetayKontrolTarihi</td>
                        <td>@Reports.qprojetanimProjeCode</td>
                        <td>@Reports.qprojetanimProjeAcan</td>
                        <td>@Reports.qprojetanimOnayDurumu</td>
                        <td>@Reports.fabrikatanimFabrikaAdi</td>
                        <td>@Reports.musteritanimMusteriAdi</td>
                        <td>@Reports.qprojedurumuProjeDurumu</td>
                        <td>@Reports.qprojetanimSikayetNo</td>
                        <td>@Reports.qprojeDetayTKontrolAdedi</td>
                        <td>@Reports.qprojeDetayTHataAdeti</td>
                        <td>@Reports.qprojeDetayTTamirAdedi</td>
                        <td>@Reports.qprojeDetayTOperatorSayisi</td>
                        <td>@Reports.qprojeDetaySaatUcreti</td>
                        <td>@Reports.qprojeDetayAnlasilanZaman</td>
                        <td>@Reports.qprojeDetayToplamSuredk</td>
                        <td>@Reports.qprojeDetayGerceklesenDk</td>
                        <td>@Reports.qprojeDetayDkEkleme</td>
                        <td>@Reports.qprojeDetayGeceklesenDkMesaGirileni</td>
                        <td>@Reports.qprojeDetayVerimlilik</td>
                        <td>@Math.Round(Reports.qprojeDetayHarcananSaat, 2)</td>
                        <td>@Reports.qprojeDetayHarcananSaatMesai</td>
                        <td>@Reports.qprojeDetayHarcananGirilenMesai</td>
                        <td>@Math.Round(Reports.qprojeDetayToplamUcret, 2)</td>
                        <td>@Reports.qprojeDetayToplamYemek</td>
                        <td>@Reports.qprojeDetayToplamYol</td>
                        <td>@Reports.qprojeDetayToplamEkHizmekDk</td>
                        <td>@Math.Round(Reports.qprojeDetayToplam, 2)</td>
                        <td>@Reports.qprojeDetayPpm</td>
                        <td>@Reports.qprojeDetayIdProforma</td>
                        <td>@Reports.paraBirimiDoviz</td>
                        <td>@Reports.qprojeDetayEksi</td>
                        <td>@Reports.qprojeDetayArti</td>
                        <td>@Reports.qprojeDetayFix</td>
                        <td>@Reports.qprojetanimFiyatIdKontrolTipi</td>
                        <td>@Reports.qprojeDetayGeceklesenDkMesai</td>
                        <td>@Reports.qprojeDetayMesaiHesapla</td>
                        <td>@Reports.qprojeDetayMesaiHesapla100</td>


                    </tr>
                }

            </tbody>
        </table>
    </div>
*@


@*
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-12 col-md-12 col-sm-12" style="padding: 13px;">
                <div class="shadow" style="padding:13px; border-radius: 15px;">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="float-left">
                                <h4>Project Follow Up</h4>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="padding-top:5px;">
                        <div class="col-md-12">
                            <div class="table-responsive">
                                <table class="table table-bordered" id="reports">
                                    <thead class="table-dark">
                                        <tr>
                                            1<th>Control Date</th>
                                            2<th>Project Code</th>
                                            3<!--<th>Responsible</th>
                                            4<th>Appr. State</th>
                                            5<th>Operetion Areas</th>
                                            6<th>Customers</th>
                                            7<th>Project/State</th>-->
                                            8<th>Compli. Nr</th>
                                            9<th>Checked</th>
                                            10<th>NOK</th>
                                            11<th>Rework</th>
                                            12<th>Opr.</th>
                                            13<!--<th>Hourly Rate.</th>
                                            14<th>Agreed Time</th>-->
                                            15<th>Spent Min.</th>
                                            16<th>Actual Min.</th>
                                            17<!--<th>%50 OverTime Min</th>
                                            18<th>%100 OverTime Min</th>
                                            19<th>Productivity</th>-->
                                            20<th>Spent Hours</th>
                                            21<!--<th>%50 OverTime</th>
                                            22<th>%100 OverTime</th>
                                            23<th>Lab Cost.</th>
                                            24<th>Total Meal</th>
                                            25<th>Total Trans</th>
                                            26<th>Add Service</th>-->
                                            27<th>Grand Total</th>
                                            28<!--<th>PPM</th>
                                            29<th>Proform</th>
                                            30<th>Currency</th>
                                            31<th>Reduced</th>
                                            32<th>Incares</th>
                                            33<th>Fix Cost</th>
                                            34<th>Control Type</th>
                                            35<th>Eski Actual OverTime Min</th>
                                            36<th>Eski OverTime(%50)</th>
                                            37<th>Eski OverTime(%100)</th>-->

                                        </tr>
                                    </thead>
                                </table>
                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
*@

<form method="get" id="frmCode" asp-action="Details" asp-controller="Reports">
    <button id="datebtn" class="btn dx-button-default" type="button" hidden>Test</button>
    <input type="text" id="dateStartinp" name="startDate" asp-for="@startDate" hidden/>
    <input type="text" id="dateFinishinp" name="finishDate" asp-for="@finishDate" hidden/>

    <input hidden type="text" id="selectedVal" value="" asp-for="@projectCode" />
    <div class="container d-flex justify-content-end mt-5 mb-3 p-3 shadow-3">

        <!-- Default checkbox -->
        <div class="form-check m-1">
            <input class="form-check-input" type="checkbox" value="@open.ToString()" id="open" asp-for="@open" />
            <label class="form-check-label" for="open">
                Açık / Open
            </label>
        </div>

        <!-- Checked checkbox -->
        <div class="form-check m-1">
            <input class="form-check-input" type="checkbox" value="@close.ToString()" id="close" asp-for="@close" />
            <label class="form-check-label" for="close">
                Kapalı / Close
            </label>
        </div>
        @*<input hidden class="form-check-input" type="checkbox" value="@problematic.ToString()" id="problematic" asp-for="@problematic" />*@

    </div>
    <div class="container p-0 mb-5">
        <div id="spinner-loading">
            <section class="w-100 d-flex align-items-center justify-content-center" style="height: 100vh" id="sectionArea">
                <img class="preloader__image" width="60" src="assets/images/loader.png" alt="" />
            </section>
        </div>
        <div id="expertgrid">
            <div class="dx-viewport demo-container">
                <!--<p>Click this text and press <b>Tab</b></p>-->
                <div id="gridContainer"></div>
            </div>
        </div>

        <div class="row pt-5">

            <div class="col-md-2">Checked: <span id="checkedVal"></span></div>
            <div class="col-md-2">Nok: <span id="nokVal"></span></div>
            <div class="col-md-2">Rework: <span id="reworkVal"></span></div>
            <div class="col-md-2">Opr: <span id="oprVal"></span></div>
            <div class="col-md-2">Spent Min: <span id="spentMin"></span></div>
            <div class="col-md-2">Actual Min: <span id="actualMin"></span></div>

        </div>

        <div class="row pt-5">
            <div class="col-md-4">Spent Hours: <span id="spentHour"></span></div>
            <div class="col-md-4">Grand Totals: <span id="grandTotal"></span></div>
        </div>
    </div>



    <!-- Modal -->
    <div class="modal fade" id="selectionMessage" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Report Details</h5>
                    <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-12">
                            <div class="dx-field">
                                <div class="row">
                                    <div class="col-12">
                                        <div class="dx-field-label">Starting Date</div>
                                        <div class="dx-field-value">
                                            <div id="dateStarting"></div>
                                        </div>
                                    </div>
                                    <div class="col-12 mt-2">
                                        <div class="dx-field-label">Finish Date</div>
                                        <div class="dx-field-value">
                                            <div id="dateFinish"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 mt-4">
                            <p class="m-0">You are about to open report, Project code: <span id="projectCode"></span></p>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-mdb-dismiss="modal">
                        Close
                    </button>
                    <button type="submit" class="btn btn-dx" id="submitCode">Open with PDF</button>

                    <!--<button type="submit" class="btn btn-dx" asp-controller="Reports" asp-action="Details" asp-all-route-data="">Open with PDF</button>-->
                </div>
            </div>
        </div>
    </div>
</form>

@*
    @section Scripts{
        <script src="~/js/projeTanim.js"></script>
    }

*@

@section Scripts{

    <script>

        $("#datebtn").click(function () {



            console.log("Output: " + dateVal);
            alert("date tested.");
            $('#dateForm').submit();
        });

        $(document).ready(function () {
            var open = false;
            var close = false;

            if ($('#open').is(":checked")) {
                open = true;
            }
            if ($('#close').is(":checked")) {
                close = true;
            }
            $(() => {
                const now = new Date();
                $('#dateStarting').dxDateBox({
                    type: 'date',
                    value: now,
                    placeholder: '@DateTime.Now.ToString("dd/MM/yyyy")',
                    showClearButton: true,
                    useMaskBehavior: true,
                    displayFormat: "dd/MM/yyyy",
                    onValueChanged(data) {
                        console.log("value changed :" + new Date(data.value));
                        $('#dateStartinp').val(data.value);
                    },
                });

                var dateVal = $("#dateStarting").dxDateBox("instance").option("value");
                $('#dateStartinp').val(dateVal);
            });

            $(() => {
                const now = new Date();
                $('#dateFinish').dxDateBox({
                    type: 'date',
                    value: now,
                    placeholder: '@DateTime.Now.ToString("dd/MM/yyyy")',
                    showClearButton: true,
                    useMaskBehavior: true,
                    displayFormat: "dd/MM/yyyy",
                    onValueChanged(data) {
                        console.log("value changed :" + new Date(data.value));
                        $('#dateFinishinp').val(data.value);
                    },
                });

                var dateVal = $("#dateFinish").dxDateBox("instance").option("value");
                $('#dateFinishinp').val(dateVal);
            });

            $("#open").change(function () {
                if (this.checked) {
                    open = true;
                } else {
                    open = false;
                }


                $('#large-indicator').dxLoadIndicator({
                    height: 60,
                    width: 60,
                });
                $('#spinner-loading').show();
                $('#expertgrid').hide();
                setTimeout(function () {
                    ajaxCall();
                }, 100);

            });
            $("#close").change(function () {
                if (this.checked) {
                    close = true;
                } else {
                    close = false;
                }

                $('#large-indicator').dxLoadIndicator({
                    height: 60,
                    width: 60,
                });
                $('#spinner-loading').show();
                $('#expertgrid').hide();
                setTimeout(function () {
                    ajaxCall();
                }, 100);
            });



            function ajaxCall() {
                $.ajax({
            type: "post",
                url: "/Reports/GetAllReportJson",
                "data": {
                    'id': '@Model',
                    'open': open,
                    'close': close,
                },
                beforeSend: function () {

                    $('#large-indicator').dxLoadIndicator({
                        height: 60,
                        width: 60,
                    });
                },
                success: function (response) {


                    /*NEW AJAX*/


                    $.ajax({
                        contentType: 'application/json; charset=utf-8',
                        dataType: 'json',
                        type: 'POST',
                        url: "/Reports/GetReportTotalValuesJson",
                        /*
                        "data": {
                            'customerReports': response,

                        },*/
                        "data": JSON.stringify(response),
                        /*
                        beforeSend: function () {

                            $('#large-indicator').dxLoadIndicator({
                                height: 60,
                                width: 60,
                            });
                        },*/

                        success: function (totalVals) {
                            $('#checkedVal').empty();
                            $('#nokVal').empty();
                            $('#reworkVal').empty();
                            $('#oprVal').empty();
                            $('#spentMin').empty();
                            $('#actualMin').empty();
                            $('#spentHour').empty();
                            $('#grandTotal').empty();


                            $('#checkedVal').append(totalVals.qprojeDetayTKontrolAdedi);
                            $('#nokVal').append(totalVals.qprojeDetayTHataAdeti);
                            $('#reworkVal').append(totalVals.qprojeDetayTTamirAdedi);
                            $('#oprVal').append(totalVals.qprojeDetayTOperatorSayisi);
                            $('#spentMin').append(totalVals.qprojeDetayToplamSuredk);
                            $('#actualMin').append(totalVals.qprojeDetayGerceklesenDk);
                            $('#spentHour').append(totalVals.qprojeDetayHarcananSaat);
                            $('#grandTotal').append(totalVals.qprojeDetayToplam);

                        @*
                        1<td>@Reports.qprojeDetayKontrolTarihi</td>
                        2<td>@Reports.qprojetanimProjeCode</td>
                        3<td>@Reports.qprojetanimProjeAcan</td>
                        4<td>@Reports.qprojetanimOnayDurumu</td>
                        5<td>@Reports.fabrikatanimFabrikaAdi</td>
                        6<td>@Reports.musteritanimMusteriAdi</td>
                        7<td>@Reports.qprojedurumuProjeDurumu</td>
                        8<td>@Reports.qprojetanimSikayetNo</td>
                        9<td>@Reports.qprojeDetayTKontrolAdedi</td>
                        10<td>@Reports.qprojeDetayTHataAdeti</td>
                        11<td>@Reports.qprojeDetayTTamirAdedi</td>
                        12<td>@Reports.qprojeDetayTOperatorSayisi</td>
                        13<td>@Reports.qprojeDetaySaatUcreti</td>
                        14<td>@Reports.qprojeDetayAnlasilanZaman</td>
                        15<td>@Reports.qprojeDetayToplamSuredk</td>
                        16<td>@Reports.qprojeDetayGerceklesenDk</td>
                        17<td>@Reports.qprojeDetayDkEkleme</td>
                        18<td>@Reports.qprojeDetayGeceklesenDkMesaGirileni</td>
                        19<td>@Reports.qprojeDetayVerimlilik</td>
                        20<td>@Math.Round(Reports.qprojeDetayHarcananSaat, 2)</td>
                        21<td>@Reports.qprojeDetayHarcananSaatMesai</td>
                        22<td>@Reports.qprojeDetayHarcananGirilenMesai</td>
                        23<td>@Math.Round(Reports.qprojeDetayToplamUcret, 2)</td>
                        24<td>@Reports.qprojeDetayToplamYemek</td>
                        25<td>@Reports.qprojeDetayToplamYol</td>
                        26<td>@Reports.qprojeDetayToplamEkHizmekDk</td>
                        27<td>@Math.Round(Reports.qprojeDetayToplam, 2)</td>
                        28<td>@Reports.qprojeDetayPpm</td>
                        29<td>@Reports.qprojeDetayIdProforma</td>
                        30<td>@Reports.paraBirimiDoviz</td>
                        31<td>@Reports.qprojeDetayEksi</td>
                        32<td>@Reports.qprojeDetayArti</td>
                        33<td>@Reports.qprojeDetayFix</td>
                        34<td>@Reports.qprojetanimFiyatIdKontrolTipi</td>
                        35<td>@Reports.qprojeDetayGeceklesenDkMesai</td>
                        36<td>@Reports.qprojeDetayMesaiHesapla</td>
                        37<td>@Reports.qprojeDetayMesaiHesapla100</td>


                                *@

                },
                /*
                error: function (e) {
                    $('#sectionArea').append('<div class="alert alert-danger" role="alert" data-mdb-color="danger">' + e.statusText + '</div >');

                    $('#large-indicator').dxLoadIndicator({
                        height: 0,
                        width: 0,
                    });
                },
                timeout: 30000,*/
            });


                    /*NEW AJAX END*/

                    $('#large-indicator').dxLoadIndicator({
                        height: 0,
                        width: 0,
                    });
                    $('#spinner-loading').hide();
                    setTimeout(function () {
                        $('#expertgrid').show();
                    }, 100);
                $(() => {

                    $('#gridContainer').dxDataGrid({
                        dataSource: response,
                        keyExpr: 'id',
                        showBorders: true,
                        selection: {
                            mode: 'single',
                        },
                        headerFilter: {
                            visible: true,
                        },

                        filterPanel: {
                            visible: true,
                        },
                        filterRow: {
                            visible: true,
                        },
                        pager: {
                            allowedPageSizes: [5, 10,20,50],
                            showPageSizeSelector: true,
                            showNavigationButtons: true,
                        },
                        paging: {
                            pageSize: 10,
                        },
                        focusedRowEnabled: true,
                        columns: [
                            /*{ dataField: 'id', caption: 'ID', "width": "0"},*/
                            { dataField: 'operationArea', caption: 'Operation Area', "width": "auto" },
                            /*{ dataField: 'customerName', caption: 'Customer' },*/
                            { dataField: 'projectCode', caption: 'Code', "width": "75px" },
                            @*
                            {

                                /*dataField: 'state',*/
                                /*cssClass: "far fa-dot-circle fa-lg text-primary",*/
                                text: "Zoom In",
                                icon: "plus",
                                caption: 'State',
                                width: "auto"

                            },*@
                            { dataField: 'state', caption: 'State',"width":"auto" },
                            { dataField: 'approvalState', caption: 'Approval State',"width":"auto" },
                            { dataField: 'startDate', caption: 'Date', "width": "85px" },
                            /*{ dataField: 'finishDate', caption: 'Finish Date' },*/
                            /*{ dataField: 'approvalDate', caption: 'Approval Date' },*/
                            { dataField: 'responsible', caption: 'Responsible', "width": "auto" },
                            //{ dataField: 'controlType', caption: 'Control Type', "width": "auto" },
                            { dataField: 'compNr', caption: 'Comp Nr.' },
                            { dataField: 'material', caption: 'Material' },
                            /*{ dataField: 'note', caption: 'Note' },*/
                            /*{ dataField: 'currency', caption: 'Currency', "width": "5%" },*/




                            /*{ dataField: 'state', caption: 'State',"width":"auto" }, */
                            /*cssClass: "far fa-dot-circle fa-lg text-primary"*/

                            @*
                        1<td>@Reports.qprojeDetayKontrolTarihi</td>
                        2<td>@Reports.qprojetanimProjeCode</td>
                        3<td>@Reports.qprojetanimProjeAcan</td>
                        4<td>@Reports.qprojetanimOnayDurumu</td>
                        5<td>@Reports.fabrikatanimFabrikaAdi</td>
                        6<td>@Reports.musteritanimMusteriAdi</td>
                        7<td>@Reports.qprojedurumuProjeDurumu</td>
                        8<td>@Reports.qprojetanimSikayetNo</td>
                        9<td>@Reports.qprojeDetayTKontrolAdedi</td>
                        10<td>@Reports.qprojeDetayTHataAdeti</td>
                        11<td>@Reports.qprojeDetayTTamirAdedi</td>
                        12<td>@Reports.qprojeDetayTOperatorSayisi</td>
                        13<td>@Reports.qprojeDetaySaatUcreti</td>
                        14<td>@Reports.qprojeDetayAnlasilanZaman</td>
                        15<td>@Reports.qprojeDetayToplamSuredk</td>
                        16<td>@Reports.qprojeDetayGerceklesenDk</td>
                        17<td>@Reports.qprojeDetayDkEkleme</td>
                        18<td>@Reports.qprojeDetayGeceklesenDkMesaGirileni</td>
                        19<td>@Reports.qprojeDetayVerimlilik</td>
                        20<td>@Math.Round(Reports.qprojeDetayHarcananSaat, 2)</td>
                        21<td>@Reports.qprojeDetayHarcananSaatMesai</td>
                        22<td>@Reports.qprojeDetayHarcananGirilenMesai</td>
                        23<td>@Math.Round(Reports.qprojeDetayToplamUcret, 2)</td>
                        24<td>@Reports.qprojeDetayToplamYemek</td>
                        25<td>@Reports.qprojeDetayToplamYol</td>
                        26<td>@Reports.qprojeDetayToplamEkHizmekDk</td>
                        27<td>@Math.Round(Reports.qprojeDetayToplam, 2)</td>
                        28<td>@Reports.qprojeDetayPpm</td>
                        29<td>@Reports.qprojeDetayIdProforma</td>
                        30<td>@Reports.paraBirimiDoviz</td>
                        31<td>@Reports.qprojeDetayEksi</td>
                        32<td>@Reports.qprojeDetayArti</td>
                        33<td>@Reports.qprojeDetayFix</td>
                        34<td>@Reports.qprojetanimFiyatIdKontrolTipi</td>
                        35<td>@Reports.qprojeDetayGeceklesenDkMesai</td>
                        36<td>@Reports.qprojeDetayMesaiHesapla</td>
                        37<td>@Reports.qprojeDetayMesaiHesapla100</td>


                                *@
                        ],
                        onSelectionChanged(selectedItems) {
                            const data = selectedItems.selectedRowsData[0];

                            if (data) {
                                //$('input[name=selectedVal]').val(data.projectCode);
                                //$('#selectedVal').val('435');
                                $('#selectedVal').attr("value", data.projectCode);
                                console.log("seçilen Proje: "+data.projectCode);
                                $('#selectionMessage').modal('toggle');
                                $('#projectCode').empty();
                                $('#projectCode').append(data.projectCode);
                                $("#submitCode").click(function () {
                                    /*$("#frmCode").submit();*/
                                    $('#frmCode').submit(function (event) {
                                        //var action = '/project/' + data.projectCode;

                                        /*var action = 'project';
                                        $(this).attr('action', action);*/
                                    });
                                });
                            }
                        },
                    });
                });
                },
                error: function (e) {
                    //$('#sectionArea').append('<div class="alert alert-danger" role="alert" data-mdb-color="danger">A simple danger alert with <a href="#" class="alert-link">an example link</a>.Give it a click if you like. </div >');
                    $('#sectionArea').append('<div class="alert alert-danger" role="alert" data-mdb-color="danger">' +e.statusText+ '</div >');

                    $('#large-indicator').dxLoadIndicator({
                        height: 0,
                        width: 0,
                    });
                },
                timeout:30000,
                });


            }

            ajaxCall();

            /*
            $("#searchinput").on("keyup", function () {
                var value = $(this).val().toLowerCase();

                $("tbody tr").filter(function () {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                });

            });

            loadDataTable();
            */
        });
        /*
        function customSearch(data, text) {
            return data.filter(function (row) {
                return row.field.indexOf(text) > -1
            })
        }*/
        /*
        function loadDataTable(data) {
            var id = 'Model'

                console.log('id değeri: ',id);
            dataTable = $('#reports').DataTable({
                "ajax": {
                    "url": "/Reports/GetAllReportJson",
                    "type": "post",
                    "dataSrc": "",
                    "data": {
                        'id': id,
                    }
                },
                "order": [[0, "asc"]],

                "columns": [
                    { "data": "qprojeDetayKontrolTarihi", "width": "3%" },
                    { "data": "qprojetanimProjeCode", "width": "10%" },
                    { "data": "qprojetanimSikayetNo", "width": "10%" },
                    { "data": "qprojeDetayTKontrolAdedi", "width": "10%" },
                    { "data": "qprojeDetayTHataAdeti", "width": "10%" },
                    { "data": "qprojeDetayTTamirAdedi", "width": "10%" },
                    { "data": "qprojeDetayTOperatorSayisi", "width": "10%" },
                    { "data": "qprojeDetayToplamSuredk", "width": "10%" },
                    { "data": "qprojeDetayGerceklesenDk", "width": "10%" },
                    { "data": "qprojeDetayHarcananSaat", "width": "10%" },
                    { "data": "qprojeDetayToplam", "width": "10%" },


                ]
            });
        }
        */

        function customSearch(data, text) {
            text = document.getElementById("searchinput").value;
            data = document.getElementById("reports");
            console.log("text= ", text);
            console.log("data= ", data);
            return data.filter(function (row) {
                return row.field.indexOf(text) > -1
            })
        }
    </script>
    @*
        <script>
            $("#tblData").draggable(); $("#droppable").droppable({ drop: function () { alert('dropped'); } });
            function sortTable(n) {
                var table,
                    rows,
                    switching,
                    i,
                    x,
                    y,
                    shouldSwitch,
                    dir,
                    switchcount = 0;
                table = document.getElementById("tblData");
                switching = true;
                //Set the sorting direction to ascending:
                dir = "asc";
                /*Make a loop that will continue until
                no switching has been done:*/
                while (switching) {
                    //start by saying: no switching is done:
                    switching = false;
                    rows = table.getElementsByTagName("TR");
                    /*Loop through all table rows (except the
                    first, which contains table headers):*/
                    for (i = 1; i < rows.length - 1; i++) { //Change i=0 if you have the header th a separate table.
                        //start by saying there should be no switching:
                        shouldSwitch = false;
                        /*Get the two elements you want to compare,
                        one from current row and one from the next:*/
                        x = rows[i].getElementsByTagName("TD")[n];
                        y = rows[i + 1].getElementsByTagName("TD")[n];
                        /*check if the two rows should switch place,
                        based on the direction, asc or desc:*/
                        if (dir == "asc") {
                            if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
                                //if so, mark as a switch and break the loop:
                                shouldSwitch = true;
                                break;
                            }
                        } else if (dir == "desc") {
                            if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
                                //if so, mark as a switch and break the loop:
                                shouldSwitch = true;
                                break;
                            }
                        }
                    }
                    if (shouldSwitch) {
                        /*If a switch has been marked, make the switch
                        and mark that a switch has been done:*/
                        rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
                        switching = true;
                        //Each time a switch is done, increase this count by 1:
                        switchcount++;
                    } else {
                        /*If no switching has been done AND the direction is "asc",
                        set the direction to "desc" and run the while loop again.*/
                        if (switchcount == 0 && dir == "asc") {
                            dir = "desc";
                            switching = true;
                        }
                    }
                }
            }
        </script>
    *@
}
