
@{
    ViewData["Title"] = "LoadingPdfView";
}
@model QSCustomer.Models.ViewModels.PdfReport
@{

    //DateTime begDate = Convert.ToDateTime(Model._SelectedProject.baslangicTarihi);
    List<string> CheckDate = new List<string>();
    List<long> ValTotal = new List<long>();

}
<style>
    body{

    }
    .demo-container{
        display:none;
    }
</style>
<div class="container">
    @*<div id="spinner-loading">
            <section class="w-100 d-flex align-items-center justify-content-center" style="height: 100vh">
                <div class="text-center">
                    <div id="large-indicator">
                    </div>
                    <h6>Your pdf report is being prepared...</h6>
                </div>

            </section>
        </div>*@
    <div class="loading-text">
        <div class="loader_icon">
            <img class="loader__image" width="60" src="~/assets/images/loader.png" alt="" />
        </div>
        <div id="loading">

        </div>

    </div>
    <div class="demo-container" id="renderedSection">
        <div id="chart">
        </div>
    </div>
</div>
<div class="container" hidden>
    <form asp-action="OpenPdf" asp-controller="Reports" id="renderedform" method="post" hidden>
        <input type="text" class="form-control form-text" value="@Model._ProjectCode" asp-for="_ProjectCode" />
        <input type="text" class="form-control form-text" value="@Model._ProjectFilter.StartDate" asp-for="_ProjectFilter.StartDate" />
        <input type="text" class="form-control form-text" value="@Model._ProjectFilter.FinishDate" asp-for="_ProjectFilter.FinishDate" />
        <input type="text" id="rendVal" class="form-control form-text" asp-for="@Model._HtmlString" />
    </form>
</div>

@section Scripts{
    <script src="/js/loading.js"></script>
    <script>
    $(document).ready(function () {
        $('#large-indicator').dxLoadIndicator({
            height: 60,
            width: 60,
        });
        // TEST
     @*
        $(function () {
            var header_height = 0;
            $('.rotate-table-grid th span').each(function () {
                if ($(this).outerWidth() > header_height) header_height = $(this).outerWidth();
            });

            $('.rotate-table-grid th').height(header_height);
        });*@
        //TEST


                $.fn.myfunction = function () {
                    $(() => {
                        $('#chart').dxChart({
                            dataSource,
                            commonSeriesSettings: {
                                argumentField: 'state',
                                type: 'bar',
                                hoverMode: 'allArgumentPoints',
                                selectionMode: 'allArgumentPoints',
                                label: {
                                    visible: true,
                                    format: {
                                        type: 'fixedPoint',
                                        precision: 0,
                                    },
                                },
                            },
                            size: {
                                width: 930,
                            },
                            animation: {
                                enabled: false,
                            },/*
                            render: {
                                force: true,
                                animate: false,
                            },*/
                            series: [
                                { valueField: 'year2018', name: 'Kontrol Adedi' },
                                { valueField: 'year2017', name: 'Hata Adedi' },
                            ],
                            title: 'Günlük Kontrol / Hatalı Adetleri - Daily Checked / Nok QTYS - Hatalar / NOK QTY',
                            legend: {
                                verticalAlignment: 'bottom',
                                horizontalAlignment: 'center',
                            },

                            /*
                            export: {
                                enabled: true,
                            },*/
                            onPointClick(e) {
                                e.target.select();
                            },
                        });
                    });
                };

                $().myfunction();
                const dataSource = [
            @foreach (var item in Model._ProjectTotalsOnebyDate)
            {
                <text>
                    {
                        state: '@item.kontrolTarihi',
                        year2017: @item.hataAdeti,
                        year2018: @item.kontrolAdedi,
                    },
                </text>
            }
        ];

        console.log(dataSource);

                setTimeout(function () {
                    $(document).trigger('afterready');
                }, 1000);

            });

    $(document).bind('afterready', function () {
        //alert("window loaded with trigger");

        //var form = $('#__AjaxAntiForgeryForm');
        //var token = $('input[name="__RequestVerificationToken"]', form).val();
        var htmlString = $('#renderedSection').html();

        $('#rendVal').val(htmlString);
        $('#urlVal').val('');
        $('#renderedform').submit();
        //window.print();
        /*window.print();
        window.close();*/
    });
    </script>

}




